.navbar {
	background: white;
	border-bottom: 1px solid #f3f3f3;
	display: flex;
	height: 50px;
  	position: fixed;
  	top: 0;
  	left: 0;
  	right: 0; 
  	z-index: 4;
	transition: all 0.2s ease;
}
.navbar .link {
	margin: auto;
	margin-left: 40px;
}
.navbar .fa-bars {
	cursor: pointer;
	font-size: 25px;
	margin: auto 10px;
	z-index: 4;
}
.navbar form {
	background: #f3f3f3;
	border: 1px solid #eee;
	border-radius: 3px;
	display: flex;
	margin: auto;
	width: 100%;
	max-width: 600px;
}
.navbar input, .navbar button, .login-btn {
	background: none;
	border: none;
	font-size: 16px;
	margin: auto;
	padding: 5px 8px;
}
.navbar input {
	width: 100%;
}
.navbar button {
	border-left: 1px solid silver;
}
.navbar .logo {
	color: #ff4500;
	font-size: 20px;
	font-weight: bold;
	margin: auto;
	margin-left: 50px;
}
.login-user-field {
	margin: auto 10px;
}
.login-btn {
	background: #ff4500;
	border-radius: 3px;
	color: white;
}
.UserBox {
	border-radius: 3px;
	color: #666;
	display: flex;
}
.UserBox .name-karma-container {
	margin: auto;
	margin: 5px 13px 5px 0;
}
.UserBox .name {
	font-weight: 600;
}
.UserBox .karma {
	color: #ff4500;
	font-size: 90%;
}
.UserBox img {
	border-radius: 3px;
	margin: auto;
	max-height: 40px;
}

.hide {
  top: -50px;
}

@media (max-width: 1000px) {
	.navbar .link {
		display: none;
		visibility: hidden;
	}
	.navbar .logo {
		font-size: 12px;
	}
}

@media (max-width: 438px) {
	.UserBox .name-karma-container {
		display: none;
	}
}