.SubRedditTab {
	background: white;
	box-shadow: 0px 0px 10px 1px silver;
	color: white;
	overflow: hidden;
	overflow-y: auto;
	transform: translateX(-320px);
	transition: all 0.3s ease;
	max-width: 100%;
	width: 320px;

	position: fixed;
  	top: 0px;
	left: 0;
	bottom: 0;
	z-index: 5;
}
.SubRedditTab-active {
	border: 1px solid #eee;
	color: #555;
	transform: translateX(0px);
}
.sub-reddit-tab-top {
	border-bottom: 1px solid #eee;
	display: flex;
	opacity: 0;
	padding: 10px 0;
	transition: all 0.2s ease;
} 
.sub-reddit-tab-top i {
	cursor: pointer;
	font-size: 25px;
	margin: auto;
	margin-right: 10px;
	transition: all 0.3s ease;
} 
.sub-reddit-tab-top .logo {
	color: #ff4500;
	font-family: "amatic sc";
	font-size: 24px;
	font-weight: bold;
	margin: auto;
	margin-left: 10px;
	transition: all 0.2s ease;
	white-space: nowrap;
}
.SubRedditTab .not-logged-in {
	font-size: 0px;
	padding-top: 60px;
	text-align: center;
	transition: all 0.3s ease;
}
.SubRedditTab-active .not-logged-in {
	font-size: 20px;
	padding-top: 50px;
}
.SubRedditTab-active .sub-reddit-tab-top {
	opacity: 1;
}
.SubRedditTab-active .sub-reddit-tab-top i {
	/*transform: rotate(360deg);*/
}

.subreddit-box {
	border-bottom: 1px solid #eee;
	display: flex;
	margin: 0 auto;
	text-align: left;
}
.subreddit-box h3 {
	margin: auto 10px;
}
.subreddit-box p {}
.subreddit-box-img {
	background: #eee;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 50%;
	margin: auto 10px;
	height: 40px;
	width: 40px;
}
.subreddit-box div {}

.SubRedditTab .about-link {
	color: #ff4500;
	padding: 5px 10px;
}