.Synth {
	background: white;
	border-top: 1px solid #f3f3f3;
	box-shadow: 0px 0px 6px 1px silver;
	padding: 0 3px;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
  	-webkit-backface-visibility: hidden;
	z-index: 2;
}
.synth-btn-container {
	display: inline-flex;
	width: 100%;
}
.synth-btn {
	cursor: pointer;
	display: flex;
	font-size: 24px;
	height: 40px;
	margin: auto 1px;
	padding: 3px 0;
	transition: all 0.2s ease;
	width: 100%;
}
.synth-btn:hover {
	font-size: 26px;
	text-shadow: 0px 0px 10px orange;
}
.Synth i {
	color: #ff4500;
	font-size: inherit;
	margin: auto;
}
.Synth .readmode {
	color: #ff4500;
	display: inline-block;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 1px;
	margin-bottom: 5px;
	padding: 2px;
}
.Synth .readmode select {
	appearance: none;
	background: none;
	border: 1px solid #d8d8d8;
	border-top: none !important;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	color: #ff4500;
	cursor: pointer;
	font-family: "open sans";
	font-size: 12px;
	font-weight: bold;
	margin-left: 3px;
	padding-right: 8px; /* to counteract weird padding left */
	text-align: center;
	text-transform: uppercase;
	transition: all 0.2s ease;
	width: 110px;
}
.readmode select:hover {
	border: 1px solid #4285f4;
}
.readmode select:focus {
	border: 1px solid #4285f4;
}
.readmode select::-ms-expand {
	display: none;
}
.synth-name {
	color: #ff4500;
	font-family: "lovers quarrel";
	font-size: 30px;
	position: absolute;
	top: 0;
	right: 3px;
	text-shadow: 2px 0px 2px #999;
}
#log {
	background: white;
	border: 1px solid silver;
	color: black;
	overflow-y: scroll;
	padding: 5px;

	position: absolute;
	bottom: 100%;
	right: 0px;
	z-index: 1;

	max-height: 50vh;
	width: 100%;
	max-width: 480px;
}
#log small {
	display: block;
}
.hidden {
	display: none;
}
.Synth .fa-bars {
	color: white;
	position: absolute;
	top: 0px;
	right: 3px;
	z-index: 30;
}
.Synth .readmode option {
}

@media (max-width: 1000px) {
}