.ThreadBox {
	background: white;
	border: 1px solid #eee;
	border-top: none;
	display: flex;
	margin: 5px auto;
	position: relative;
	padding: 10px 1vw;
}
.ThreadBox .score {
	border-right: 1px solid #eee;
	display: flex;
	font-size: 20px;
	width: 8%;
}
.ThreadBox h3 {
	margin: 7px auto;
}
.ThreadBox .score-mobile {
	display: none;
}
.ThreadBox .score span {
	margin: auto;
}
.ThreadBox .content {
	color: #999;
	margin: auto 0;
	padding: 10px;
	width: 100%;
}
.ThreadBox .media-wrapper {
	height: 250px;
	width: 100%;
}
.ThreadBox .media {
	height: 100%;
	width: 100%;
}
.commentsAndReplies_tb {
	margin-top: 4px;
}
.commentsAndReplies_tb small {
	color: #555;
}

@media (max-width: 600px) {
	.ThreadBox {
		border: none;
	}
	.ThreadBox .score {
		display: none;
	}
	.ThreadBox .score-mobile {
		display: inline-block;
		margin-left: 20px;
	}
	.ThreadBox .content {
		width: 100%;
	}
}