.Search {
	margin: auto;
	max-width: 1000px;
	width: 90%
}
.SearchTitle {
	padding: 30px 10px;
}
.search-results {
	background: white;
	padding: 10px;
}

.SubRedditBoxAlt {
	border-top: 1px solid #eee;
	display: inline-flex;
	margin: auto;
	width: 100%;
}
.SubRedditBoxAlt .head {
	display: flex;
	padding: 5px;
	min-width: 30%;
}
.SubRedditBoxAlt .subreddit-box-img {}
.SubRedditBoxAlt .title {
	margin-left: 10px;
	width: 20%;
	white-space: nowrap;
}
.SubRedditBoxAlt .description {
	margin-right: 0;
	padding: 5px;
	width: 60%;
	text-align: left;
}
.SubRedditBoxAlt * {
	margin: auto;
}
.SubRedditBoxAlt p, small {
	padding: 0;
}

@media (max-width: 800px) {
	.SubRedditBoxAlt {
		display: block;
	}
	.SubRedditBoxAlt .description {
		display: block;
		margin: auto 10px;
		width: 100%;
	}
}