/* --- Thread --- */
.Thread {
	margin: auto;
	padding-bottom: 30vw;
}
.Thread header {
	margin: 10px auto;
}

/* --- ThreadHead --- */
.ThreadHead {
	background: white;
	color: #333;
	padding: 20px 12px;
}
.ThreadHead .ThreadStatsBox {
	margin: 10px auto;
}
.ThreadHead .score {
	display: inline-block;
	margin-left: 20px;
}

/* --- CommentBox --- */
.CommentBox {
	background: white;
	border-top: none;
	color: #333;
	display: flex;
	margin: 5px auto;
	position: relative;
}
.CommentBox .score {
	color: #555;
	display: inline-block;
	margin-left: 20px;
}
.CommentBox .content {
	border-left: 1px solid silver;
	margin: auto 0;
	padding: 10px;
	width: 100%;
}
.CommentBox .author {}

@media (max-width: 600px) {
	.Thread {
		width: 100%;
	}
	.CommentBox .author {}
}