.App {
	background: white;
	color: #777;
	font-size: 90%;
  	ext-align: center;
  	padding-top: 60px;
  	width: 100%;
  	overflow-y: hidden;
}

.MoreButton {
	background: #eee;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	display: block;
	font-size: 90%;
	margin: auto;
	padding: 2px 30px;
	transition: all 0.2s ease;
	max-width: 300px;
	width: 90%;
}
.MoreButton:hover {
	padding: 2px 32px;
}

.AuthorHeader .subreddit {
	color: #555;
}