* {
	box-sizing: border-box;
  	margin: 0;
  	padding: 0;
}
body {
  	font-family: sans-serif;
  	overflow-y: scroll;
}
h1, h2, h3 {
	padding: 10px 0;
}
p, small, li {
	line-height: 1.6;
	padding: 5px 0;
}
a {
	color: #777;
	text-decoration: none;
}
iframe {
	border: 1px solid #eee;
	max-width: 100%;
}
@media (max-width: 600px) {
	p, small, li {
		line-height: 1.2;
	}
}

.container {
	background: #f3f3f3;
	margin: auto;
	max-width: 1000px;
	width: 90%;
}